@charset "utf-8";
/* CSS Document */

.alignright {
text-align: right;
}

.alignleft {
text-align: left;
}

/* float */
.left {
float: left;
}

.right {
float: right;
}

.clear {
clear: both;
}

.clearr {
clear: right;
}

.clearl {
clear: left;
}

/* Margin - Padding */
.margin0 {
margin: 0px;
}

.margintop3 {
margin-top: 3px;
}

.margintop5 {
margin-top: 5px;
}

.margintop10 {
margin-top: 10px;
}

.margintop15 {
margin-top: 15px;
}

.margintop20 {
margin-top: 20px;
}

.margintop25 {
margin-top: 25px;
}

.margintop30 {
margin-top: 30px;
}

.margintop35 {
margin-top: 35px;
}

.margintop40 {
margin-top: 40px;
}

.marginbottom5 {
margin-bottom: 5px;
}

.marginbottom10 {
margin-bottom: 10px;
}

.marginbottom15 {
margin-bottom: 15px;
}

.marginbottom20 {
margin-bottom: 20px;
}

.marginbottom25 {
margin-bottom: 25px;
}

.marginbottom30 {
margin-bottom: 30px;
}

.marginbottom35 {
margin-bottom: 35px;
}

.marginbottom40 {
margin-bottom: 40px;
}

.marginleft5 {
margin-left: 5px;
}

.marginleft10 {
margin-left: 10px;
}

.marginleft15 {
margin-left: 15px;
}

.marginleft20 {
margin-left: 20px;
}

.marginleft25 {
margin-left: 25px;
}

.marginleft30 {
margin-left: 30px;
}

.marginleft35 {
margin-left: 35px;
}

.marginleft40 {
margin-left: 40px;
}

.marginright5 {
margin-right: 5px;
}

.marginright10 {
margin-right: 10px;
}

.marginright15 {
margin-right: 15px;
}

.marginright20 {
margin-right: 20px;
}

.marginright25 {
margin-right: 25px;
}

.marginright30 {
margin-right: 30px;
}

.marginright35 {
margin-right: 35px;
}

.marginright40 {
margin-right: 40px;
}

.padding0 {
padding: 0px;
}

.padding5 {
padding: 5px;
}

.padding10 {
padding: 10px;
}

.padding15 {
padding: 15px;
}

.padding20 {
padding: 20px;
}


.paddingtop5 {
padding-top: 5px;
}

.paddingtop10 {
padding-top: 10px;
}

.paddingtop15 {
padding-top: 15px;
}

.paddingtop20 {
padding-top: 20px;
}

.paddingtop25 {
padding-top: 25px;
}

.paddingtop30 {
padding-top: 30px;
}

.paddingtop35 {
padding-top: 35px;
}

.paddingtop40 {
padding-top: 40px;
}

.paddingbottom5 {
padding-bottom: 5px;
}

.paddingbottom10 {
padding-bottom: 10px;
}

.paddingbottom15 {
padding-bottom: 15px;
}

.paddingbottom20 {
padding-bottom: 20px;
}

.paddingbottom25 {
padding-bottom: 25px;
}

.paddingbottom30 {
padding-bottom: 30px;
}

.paddingbottom35 {
padding-bottom: 35px;
}

.paddingbottom40 {
padding-bottom: 40px;
}

.paddingleft5 {
padding-left: 5px;
}

.paddingleft10 {
padding-left: 10px;
}

.paddingleft15 {
padding-left: 15px;
}

.paddingleft20 {
padding-left: 20px;
}

.paddingleft25 {
padding-left: 25px;
}

.paddingleft30 {
padding-left: 30px;
}

.paddingleft35 {
padding-left: 35px;
}

.paddingleft40 {
padding-left: 40px;
}

.paddingright5 {
padding-right: 5px;
}

.paddingright10 {
padding-right: 10px;
}

.paddingright15 {
padding-right: 15px;
}

.paddingright20 {
padding-right: 20px;
}

.paddingright25 {
padding-right: 25px;
}

.paddingright30 {
padding-right: 30px;
}

.paddingright35 {
padding-right: 35px;
}

.paddingright40 {
padding-right: 40px;
}

