@charset "utf-8";
/* CSS Document */

body {
margin: 0;
font-size: 12px;
font-family: "Trebuchet MS", serif, Verdana;
line-height: 16px;
color: #666666;
background: url(../images/bg.jpg) no-repeat;
background-position: top center;
padding: 0px;
}


body img {
border: none;

}
h1
{
 font-size: 1.5em;
}
.product-image
{ 
	height: 300px;
	width: 616px;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}
#wrapper {
margin: 0 auto;
width: 912px;
}

#main {
	width: 912px;
	margin: 0 auto;
}

#top {
	height: 64px;
	position: relative;
}

#top #logo {
	margin: 10px auto 0px;
	width: 102px;
}

#top #lang {
	float: right;
	margin: -30px 90px 0px 0px;
}

#top #lang img {
	margin-left: 10px;
}

#menu_flash {
	height: 410px;
}

#menu {
	width: 913px;
	height: 37px;
	margin-top: 5px;
	z-index: 20;
	position: absolute;
}

#flash {
	height: 392px;
	margin: 15px 0px 0px;
	z-index: 0;
	position: absolute;
}

#toppage_content {
	width: 1000px;
	height: 156px;
	margin: 15px auto;
}
#page-content
{
	margin-top: 42px;
}
#toppage_content .column {
	width: 218px;
	float: left;
	margin: 5px;
	border-right: #e2e3e4 1px solid;
}

#toppage_content .lastcolumn {
	float: left;
	margin: 5px;
}

#toppage_content .overview {
	background: url(../images/overview_img.jpg) no-repeat right bottom;
}

#toppage_content .promotion {
	background: url(../images/promotion_img.jpg) no-repeat right bottom; 
}

.showcase {
	background: url(../images/showcase_img.jpg) no-repeat right bottom;
}

#toppage_content .newcoming .content {
	width: 300px;
}

#toppage_content .newcoming .previous {
	float: left;
}

#toppage_content .newcoming .next {
	float: left;
}

#toppage_content .newcoming .product {
	width: 237px;
	float: left;
}

#toppage_content .newcoming .product img {
	margin: 5px 10px 0px;
}

#toppage_content .newcoming .more {
	margin-right: 10px;
}

#toppage_content .newcoming .more a {
	color: #666666;
	text-decoration: none;
}

#toppage_content .newcoming .more a:hover {
	color: #666666;
	text-decoration: none;
}

#toppage_content .title {
	font-weight: 700;
	font-size: 13px;
	color: #000;
}

#toppage_content .content {
	margin: 15px 0px;
	width: 150px;
	color: #666666;
}

#footer {
	height: 80px;
	background: #f1f2f2;
	padding: 20px;
	
	
	color: #999;
	width: 862px;
	margin: 0 auto;
	margin-top: 20px;
	background: url(../images/footer_bg.png) no-repeat;*/
}

.bgtoppage {
	/*background: url(../images/bg_toppage.jpg) no-repeat;*/
}

/* Second page */

#main_img {
	height: 219px;
	margin: 15px 105px;
	z-index: 0;
	position: absolute;	
}

#menu_mainimg {
	height: 219px;
}

#left_bar {
	width: 220px;
	float: left;
	
}



#page_content {
	width: 900px;
	margin: 15px 105px;
	background: url(../images/content_bg.png) repeat-x;
}

#maincontent {
	background: url(../images/submenu_bg.png) repeat-y left;
}

#page_content #title {
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	margin: 15px 20px 15px 6px;
	letter-spacing: -1px;
	text-align: center;
}

#page_content #sub_title {
	margin: 10px;
}

#sub_title .sub_title01 {
	float: left; 
	width: 30px; 
	height: 35px; 
	background: url(../images/sub_title_bg01.png) no-repeat top right;
}

#sub_title .sub_title02 {
	float: left; 
	height: 35px; 
	background: url(../images/sub_title_bg02.png) repeat-x;
	padding-top: 10px;
	color: #226AC9;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

#sub_title .sub_title03 {
	float: left; 
	width: 27px; 
	height: 35px; 
	background: url(../images/sub_title_bg03.png) no-repeat top left;
}

#sub_menu {
	margin: 1px 0px 0px;
	
}
#bar_head
	{
	width: 900;
	height: 50px;
	background: url(../images/head_bg.jpg) no-repeat top left;
	margin-top: -7px;
	margin-left: -2px;
	}

#sub_menu td {
	vertical-align: top;
}

#sub_menu .first {
	background: url(../images/submenu_bg01.png) no-repeat; 
	height: 64px; 
	width: 219px;
}

#sub_menu .second {
	background: url(../images/submenu_bg02.png) no-repeat; 
	height: 62px; 
	width: 219px;
}
#sub_menu .first {
	background: url(../images/submenu_bg01.png) no-repeat; 
	
}
#sub_menu .second:hover {

	
}

#sub_menu .menu {
	
	padding-left: 12px;
	margin: 11px 0px 0px 10px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
#sub_menu .menu-first {
	background: none;
}
#sub_menu .menu a {
	text-decoration: none;
	color: #666666;
}

#sub_menu .menu a:hover {
	text-decoration: none;
	color: #0d5ac3;
	
}

#sub_menu .menu .active {
	text-decoration: none;
	color: #0d5ac3;
}
#sub_menu .active {
	text-decoration: none;
	color: #0d5ac3;
	background: url(../images/submenu_dotbg.png) no-repeat top left;
}
#sub_menu .menu:hover {
	text-decoration: none;
	color: #0d5ac3;
	background: url(../images/submenu_dotbg.png) no-repeat top left;
}

#sub_menu .menudesc {
	padding-left: 23px;
	padding-top: 5px;
	color: #666666;
	line-height: 12px;
	font-size: 12px;
}

#content_bar #main_content {
	margin: 0px 0px 0px 15px;
}

/* Product page */



#productlist .item {
	background: url(../images/productitem_bg.png);
	width: 204px;
	height: 249px;
	float: left;
	margin: 0px 7px 20px 0px;
}

#productlist .productthumb {
	text-align: center;
	padding-top: 5px;
}

#productlist .productthumb img {
	height: 122px;
}

#productlist .item .title {
	margin: 10px 5px 10px 10px;
	font-size: 13px;
}

#productlist .item .title a {
	text-decoration: none;
	color: #0D56C1;
	font-weight: 700;
}

#productlist .item .title a:hover {
	text-decoration: none;
	color: #0D56C1;
}

#productlist .item .itemdesc {
	margin: 10px 5px 10px 10px;
	line-height: 14px;
	height: 44px;
}

#productlist .item .readmore {
	background-image: url(../images/readmore_bg.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 90px;
	padding: 5px 15px;
	margin-top: -6px; margin-left: 112px;
}
#productlist .item .readmore a {
	text-decoration: none;
	color: #fff;
}
#productlist .item .readmore a:hover {
	text-decoration: none;
	color: yellow;
}
/* Product detail */

#productdetail {
}

#productdetail .detail {
	background: url(../images/productdetail_productbg.png) bottom no-repeat;
	width: 586px;
	
	padding-bottom: 20px;
}

#productdetail .detailtopbg {
	background: url(../images/productdetail_productbg_top.png) top no-repeat;
	width: 586px;
	float: left;
}

#productdetail .detail .productimg {
	text-align: center;
}

#productdetail .detail .productimg img {
	height: 313px;
	margin: 10px;
}

#productdetail .detail .title {
	font-size: 12px;
	font-weight: 700;
	color: #0D56C1;
	text-transform: uppercase;
	margin: -15px 10px 0px 20px;
}

#productdetail .detail .desc {
	font-weight: 700;
	margin: 0px 10px 0px 20px;
}

#productdetail .detail .info {
	margin: 15px 10px 0px 20px;
}

#productdetail .detail .downloadpdf {
	margin: 15px 10px 0px 20px;
}

#tab {
	margin: 20px auto;
	
}

#relate_product {
	width: 320px;
	margin: 20px auto;
}

#relate_product .previous {
	float: left;
	margin-top: 100px;
	margin-right: 20px;
}

#relate_product .next {
	float: left;
	margin-top: 100px;
}

#relate_product .product {
	float: left;
}

/* Showcase */

#showcase {
}

#showcase #title {
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	margin: 15px 20px 15px 6px;
	letter-spacing: -1px;
	text-align: center;
	width: 220px;
	padding-top: 15px;
}

#showcase #content_bar {
	width: 880px;
	margin: 15px 15px 15px 0px;
	padding: 10px;
}

#showcaselist {
}

#showcaselist .item {
	background: url(../images/showcaseitem_bg.png);;
	width: 204px;
	height: 249px;
	float: left;
	margin: 0px 8px 20px 0px;
}

#showcaselist .showcasethumb {
	text-align: center;
	margin: 1px;
}

#showcaselist .showcasethumb img {
	width: 202px;
	height: 129px;
}

#showcaselist .item .title {
	margin: 10px 5px 10px 10px;
	font-size: 13px;
}

#showcaselist .item .title a {
	text-decoration: none;
	color: #0D56C1;
	font-weight: 700;
}

#showcaselist .item .title a:hover {
	text-decoration: none;
	color: #0D56C1;
}

#showcaselist .item .itemdesc {
	margin: 10px 5px 10px 10px;
	line-height: 14px;
}

#showcaselist .item .readmore {
	margin: 0px 0px 5px 10px;
}

/* Contact */

#contact {
}

#contact #main {
	background: url(../images/contact_bg.png);
	width: 847px;
	
}

#contact #divform {
	width: 350px;
	float: left;
	padding: 15px;
}
#divform .formfield input{
	width:  300px;
	}
#contact #divaddress {
	float: left;
}

#contact .title {
	color: #0D56C1;
	font-weight: 700;
	margin: 0px 0px 10px 0px;
	text-transform: uppercase;
}

#contact .formtitle {
	text-align: left;
	text-transform: uppercase;
	width: 105px;
	clear: both;
	float: left;
	padding: 5px;
}

#contact .formfield {
	float: left;
	padding: 3px;
	margin: 0px;
}

#contact .textfieldstyle {
	width: 220px;
}

#contact .textareastyle {
	width: 220px
}

#contact .button {
	text-align: center;
	padding: 10px 0px 0px 0px;
	clear: both;
}

#contact .button img {
	margin-left: 30px;
}

#contact #map {
	margin: 15px;
}

#contact #address {
	margin-left: 15px;
}


/* Jquery */

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

/* Tab content */
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
}
div.messages{
	
.margin-top: 9px !important;

}
.container {
background:none repeat scroll 0 0 #FFFFFF;

margin-left: 7px;
margin-top: -14px;

overflow:hidden;
width:900px;
padding: 0px 0px;
}
.admin_container
{
	background:none repeat scroll 0 0 #FFFFFF;
border-color:-moz-use-text-color #999 #999;
border-right:1px solid #999;
border-style:none solid solid;
border-width:medium 1px 1px;
clear:both;
float:left;
overflow:hidden;
width:866px;
padding: 15px 15px;
}
/* ------------------ Table Styles ------------------ */

.views-table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
.views-table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
.views-table tr th {
  background: #757575;
  background: #4093db;
  border-bottom-style: none;
}
.views-table tr th,
.views-table tr th a,
.views-table tr th a:hover {
  color: #FFF;
  font-weight: bold;
}
view-content .views-table tbody tr th {
  vertical-align: top;
}
.views-table tr td,
.views-table tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
}
#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18);
}
view-content .views-tabletr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}


view-content .views-table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
view-content .views-table ul.links li {
  padding: 0 1em 0 0;
}


div.error, tr.error 
{
 margin-top: -8px;
 background: #ff9999;
}
div.error, tr.error 
{
 background: #ff9999;
}
#menu div
{
  background-image: url("../images/navigation_th.png");
  background-repeat: no-repeat;
  float: left;
}
#home
{
background-position: 0px 0px;
height: 35px; width: 91px;
}
#about
{
height: 35px; width: 89px;
background-position: -91px 0px;
}
#product{
height: 35px; width: 117px;
background-position: -180px 0px;
}
#carpark
{
height: 35px; width: 146px;
background-position: -297px 0px;
}
#showcase
{
height: 35px; width: 114px;
background-position: -443px 0px;
}
#download
{
height: 35px; width: 83px;
background-position: -557px 0;
}
#faq
{
height: 35px; width: 91px;
background-position: -642px 0px;
}
#career
{
	height: 35px; width: 84px;
	background-position: -728px 0px;
}
#menu .contact
{
	height: 35px; width: 98px;
	background-position: -810px 0px;
}

#home:hover
{
background-position: -0px -34px;
}
#about:hover
{

background-position: -91px -34px;
}
#product:hover{

background-position: -180px -34px;
}
#carpark:hover
{

background-position: -297px -34px;
}
#showcase:hover
{

background-position: -443px -34px;
}
#download:hover
{

background-position: -557px -34px;
}
#faq:hover
{

background-position: -642px -34px;
}
#career:hover
{

	background-position: -728px -34px;
}
#menu .contact:hover
{

	background-position: -810px -34px;
}
#home_line
{
	background: url(../images/line_bg.jpg) no-repeat;
	background-position: top center;
	height: 10px;
	width: 900px;
	margin-top: 12px;
}
------------------------- Content
*/

#content h1, #content h2, #content p, #content .center, #content blockquote, #content ul, #content ol, #content table, 
  #content form, #content fieldset, #content .error, #content .succes, #content .question, #content .halfes {margin-bottom:16px;}
#content blockquote {padding:16px; margin-left:20px; border-left:4px solid #e5e5e5;}
#content .important {padding:16px; padding-bottom:0; border:1px dashed #399ece; background-color:#f3f9fc;}
#content .print {position:absolute; top:99px; right:19px; width:20px; height:20px; background:url('img/print.gif') top left no-repeat;}
#content .print a {display:block; width:100%; height:100%;}
#content .print em {display:none;}

/* Pictures floating on left, right and center */
#content img {}
#content .left {float:left; margin-right:10px;}
#content .right {float:right; margin-left:10px;}
#content .center {text-align:center;}
#content .left em, #content .right em, #content .center em {display:block; margin-top:5px;}

/* Lists */
#content ul, #content ol {margin-left:20px; list-style-position:inside;}
#content ul {list-style-type:square;}
#content ul li, #content ol li {margin-top:5px;}
#content ul ul {list-style-type:circle;}

/* Tables */
#content table {width:98%;}
#content table#list, #content table.info {border:1px solid #e0e0e0; border-collapse:collapse;}
#content table#list th {border-bottom:1px solid #e0e0e0;}
#content table#list th, #content table.info th {background-color:#f5f5f5; }
#content table#list th, #content table#list td {padding:5px 10px; text-align:center;}
#content table#list th.left, #content table#list td.left {float:none; text-align:left;}
#content table#list tr.even td {background-color:#ecf5fb;}
#content table.info th, #content table.info td {border:1px solid #ccc;}
#content table.info th, #content table.info td {padding:5px 10px; text-align:left;}
#content table.info th.center, #content table.info td.center {text-align:center;}

/* Form */
#content form fieldset {padding:10px 20px; _padding-top:0; border:1px solid #e0e0e0;}
#content form fieldset legend {padding:0 10px; _margin-bottom:10px;}
#content form fieldset input, #content fieldset select {margin-top:3px; margin-bottom:10px;}
#content form fieldset textarea {width:95%;}
#content form fieldset label input {margin-bottom:0;}
#content form p.submit input {padding:0 10px; margin-bottom:0;}

/* Messages */
#content .error, #content .succes, #content .question {border-width:1px; border-style:solid; padding:16px 20px 0 60px;}
#content .error {border-color:#d1481a; background:#fff1ec url('../img/error.gif') center left no-repeat;}
#content .succes {border-color:#669900; background:#f9ffec url('../img/succes.gif') center left no-repeat;}
#content .question {border-color:#399ece; background:#f3f9fc url('../img/question.gif') center left no-repeat;}
#content .question input {padding:0 10px;}

/* Halfes */
#content .halfes {width:98%; background:url('img/separator.gif') top center repeat-y;}
#content .halfes .leftcol {float:left; width:45%; }
#content .halfes .rightcol {float:right; width:45%; }

/* Right column */
#content .right-column {width:98%;}
#content .right-column .rightcol {float:right; width:200px; padding-left:20px; margin-left:20px; background:url('img/separator.gif') top left repeat-y;}
#content .right-column .leftcol {padding-right:240px;}

.cleaner {clear:both; height:1px; font-size:1px; line-height:1px;}
.hidden {display:none}
.noborder {border:none !important;}

#content h1, #content h2 {font-weight:normal;}
#content h1 {font-size:170%; color:#389ccd;}
#content h2 {font-size:150%; color:#75bbdd;}
#content p {line-height:1.5em;}
#content blockquote {font-style:italic; color:#666;}
#content a {color:#06c;}
#content a:hover {text-decoration:none;}
#content .left em, #content .right em, #content .center em {text-align:center; color:#999;}
#content table#list th, #content table.info th {color:#666;}
#content fieldset legend {font-weight:bold;}
#content .error {color:#d1481a;}
#content .succes {color:#669900;}
#content .question {color:#399ece;}
#content {padding: 25px;  }
.paging {
	float: right;
	margin: 15px 20px 15px 0px;
}
.paging a {
	color: #FFF;
	background: #ccc;
	padding: 5px 10px;
	margin-right: 2px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.paging strong
{
	color: #FFF;
	background: #6995c6;
	padding: 5px 10px;
	margin-right: 2px;
	text-decoration: none;
	font-size: 16px;
}
.paging a:hover {
	text-decoration: underline;
	color: #39AD00;
}
.home_menu
{
	
	width: 248px;
	height: 98px;
	
	margin-bottom: 1px;
	
	border: 1px solid #ccc;
	
	background-image: url("../images/home_menu.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	cursor: hand;
	
}
.carpark
{
 border-left: 1px solid #fff;
}
.access_control
{
 
 background-position: 0px -100px;
}
.home_automation
{
		background-position: 0px -200px;
}
span.note, span.info, span.alert, span.download, span.tip {
    display: block;
}
div.note, span.note {
    background: none repeat scroll 0 0 #F4F5F6;
    border-bottom: 1px dotted #AAB4BE;
    border-top: 1px dotted #AAB4BE;
    margin: 10px 0;
    padding: 5px 10px;
    text-align: justify;
}
div.info, span.info, div.alert, span.alert, div.download, span.download, div.tip, span.tip {
    margin: 10px 0;
    padding: 7px 10px 7px 35px;
}
div.info, span.info {
    background: url("../images/div_info.png") no-repeat scroll 3px 3px #F4F5F6;
    border-bottom: 1px dotted #AAB4BE;
    border-top: 1px dotted #AAB4BE;
}